:root {
	color-scheme: dark;
}
body, coll {
	margin: 20px;
	text-align: center;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	user-select: none;
}
body {
	overflow-y: scroll;
	background: #333333;
	color: #ffffff;
	max-width: 1000px;
}
html {
	display: flex;
	justify-content: center;
}
row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
pre {
	font-family: monospace;
	background: #444;
	padding: 10px;
	border-radius: 10px;
	margin: 20px;
	width: fit-content;
	text-align: left;
	user-select: all;
}
textarea {
	font-family: monospace;
	background: #444;
	padding: 5px;
	border-radius: 5px;
}
h0 {
	font-size: 4em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
big {
	font-size: 1.5em;
}
summary {
	cursor: pointer;
}
details {
	background: #222;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
}